body {
    margin: 0px;
}

.bg20 {
    background-image: url('images/bg43.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 60% 95%;
    margin: 10px;
}

#container {
    width: 1028px;
    margin: 8px 0px
}

#head {
    margin-left: 28px
}

#cvs {
    border: 2px solid black;
    margin: 0px 28px
}

#title {
    display: inline;
    font: 3em "Georgia"
}

#mute {
    float: right;
    margin-top: 40px;
}

.indent {
    margin: 0px 28px
}


